<div class="palm-row" x-mojo-tap-highlight="momentary" >
  <div class="palm-row-wrapper result">
    <div class="left-column">
      <div class="name">#{company_name}</div>
      <div class="location">#{locationFormatted}</div>
    </div>
    <div class="vstatus right-column" style="color: #{colorFormatted};">#{statusFormatted}</div>
    <div class="none" id="details#{id}">
        <div class="lastUpdated">Last Updated: #{updated_onFormatted}</div>
        <div class="notes">#{-notesFormatted}</div>
    </div>
  </div>
</div>
